<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CJPC</title>
    <link rel="stylesheet" href="/cjpc/css/main.css">
  </head>
  <body>
    <header class="header">
      <div class="header-content">
        <div class="header-logo">
          <a href="/"><img src="/cjpc/images/cjpc-logo2-01.png" alt="CJPC" width="100"></a>
        </div>
        <nav>
          <ul class="header-nav nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Our Work</a></li>
            <li><a href="#">Issues</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="jumbotron">
        <div class="jumbo-text">
          The Criminal Justice Policy Coalition
        </div>
      </div>
      <div class="main-intro">
        <h1>
          The Criminal Justice Policy Coalition (CJPC) was created in 1996 in
          order to bring together those individuals and organizations concerned
          about the individual and societal repercussions of the increasingly
          retributive nature of criminal justice policy in Massachusetts.
        </h1>
      </div>
      <div class="content">
        <div class="label">
          <h1>What is CJPC?</h1>
        </div>
        <h2>
          CJPC is dedicated to improving our community through the advancement
          of effective, just, and humane criminal justice policy in Massachusetts.
          In addition to our advocacy on many issues, we are proud to have
          subcommittees focused on these issues.
        </h2>
        <div class="row">
          <div class="left-content">
            <img src="/cjpc/images/cuffs.jpg" width="300" alt="">
          </div>
          <div class="right-content">
            <p><a href="#">Sex Offender Policy Reform Initiative (SOPRI)</a> is a
            group of concerned citizens working for more rational evidence
            based practices to deal with people convicted of sexual crimes. They
            work to secure better legislation through education and demystifying
            the social stigma of Registrants.</p>
          </div>
        </div>
        <div class="row">
          <div class="left-content">
            <img src="/cjpc/images/prisoner.jpg" width="300" alt="">
          </div>
          <div class="right-content">
            <p><a href="#">Parole Review for All</a> works with other community
            groups and organizations focusing on ending all life without parole
            sentences in all contexts and for any crime.</p>
          </div>
        </div>
        <div class="more-info">
          <h3><a href="#">See</a> a complete list of issues CJPC is working to address.</h3>
        </div>

      </div>

    </div>
    <footer>
      Footer content
    </footer>
  </body>
</html>
